[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rwtss"]
	path = Rwtss
	url = https://github.com/cran/Rwtss
[submodule "ggsom"]
	path = ggsom
	url = https://github.com/oldlipe/ggsom
